$primary: #13C8B5;
$secondary:#2B364A;
$tertiary: #FFF1A3;
$white: #FFFFFF;
$blue: #49D1F9;

* {
  box-sizing: border-box;
}

html, body {
	font-family: 'Lato', sans-serif;
	height: 100%;
	padding: 0 2%;
}

body {
	display: flex;
	flex-direction: column;
}

a {
	color: $primary;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: $tertiary;
	animation: pulse 1s linear infinite;
}

ul {
	padding: 0;
}

ul li {
	display: inline-block;
	list-style: none;
	padding: 1rem;
}

.Box {
  width: 150px;
  height: 150px;
  background: #90CAF9;
  text-align: center;
  line-height: 150px;
  font-size: 60px;
  color: #0D47A1;
  border: 1px solid #0D47A1;
  margin: 10px auto;
  cursor: pointer;
}

p {
  text-align: center;
}

.App {
	.Wrapper {
		flex: 1 0 auto;
		height: 80vh;
	}

	.Row {
		flex: 1 100%;
		margin-top: 1rem;
	}

	.Search {
		text-align: center;

		.Search-input,
		.Search-button {
			border: 1px solid $secondary;
			border-radius: 2rem;
			color: $primary;
			font-size: 16px;
			height: 3rem;
			padding: 0 2rem;

			&:focus {
				outline: none;
			}
		}

		.Search-button {
			background-color: $white;
			color: $secondary;
			cursor: pointer;
			height: 3rem;
			padding: 0;
			width: 5%;

			&:hover {
				color: $tertiary;
				animation: pulse 1s linear infinite;
			}
		}
	}

	.Results {
		display: flex;
		flex-flow: row wrap;
		flex-shrink: 1;
		justify-content: space-around;

		.Result-item {
			background-color: $white;
			border: 1px solid $primary;
			border-radius: 10px;
			box-shadow: 0 1px 1px $secondary;
			height: 17rem;
			margin: 1rem 0.5rem;
			padding: 1rem;
			text-align: center;
		  width: 17rem;

			&:hover {
				animation: bounce 0.25s 4 alternate;
				box-shadow: 0 3px 10px 6px #CCF3FF,
										0 3px 10px 6px #CCF3FF;
			}
		}

		.Result-item-heading {
			color: $primary;
			display: block;
			font-family: 'Quicksand';
			font-weight: 400;

			&:hover {
				color: $primary;
			}
		}

		.Result-item-subheading {
			display: block;
		}

		.Result-item-row {
			width: 50%;
		}
	}

	.Navbar-items {
	  display: flex;
	  flex-flow: row wrap;
	  font-family: 'Quicksand';
	  justify-content: space-around;
		padding: 1.25rem 0.5rem;

		ul li {
		  display: inline-block;
			padding: 0 1rem;
		}

		a {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
		}
	}

	.Footer .Navbar-items {
		flex-flow: initial;
	}


	@keyframes pulse {
	  25% {color: $primary;}
		75% {color: $tertiary;}
	}

	@keyframes spin {
		100% {transform: rotate(360deg);}
	}

	@keyframes bounce {
	 from {transform: translateY(0px);}
	 to {transform: translateY(-15px);}
	}
}