$primary: #21A3A3;
$secondary:#04508E;
$tertiary: #FC8F8A;
$white: #FFFFFF;
$blue: #C6DEFF;

* {
  box-sizing: border-box;
}

html, body {
	font-family: 'Lato', sans-serif;
	height: 100%;
	padding: 0 2%;
}

body {
	background-color: $secondary;
	display: flex;
	flex-direction: column;
}

a {
	color: $blue;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: $tertiary;
		animation: pulse 1s linear infinite;
	}
}

h1, h2, h3, h4 p {
	font-weight: 300;
  text-align: center;
}

h1, h2, h3, h4 {
	color: $white;
}

ul {
	padding: 0;

	li {
		display: inline-block;
		list-style: none;
		padding: 1rem;
	}
}

.App {
	.Wrapper {
		flex: 1 0 auto;
		// height: 80vh;
	}

	.Row {
		flex: 1 100%;
		margin-top: 1rem;
	}

	.Loading {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 6rem;
	}

	.Weather-details {
		text-align: center;
	}

	.Search {
		text-align: center;

		.Search-input {
			border: 1px solid $primary;
			border-radius: 2rem;
			color: $tertiary;
			font-size: 16px;
			height: 3rem;
			padding: 0 2rem;
			width: 50%;

			&:focus {
				outline: none;
			}
		}

		.Search-button {
			background-color: $white;
			border: none;
			color: $tertiary;
			cursor: pointer;
			font-size: 1.2rem;
			margin-left: -2rem;
			padding: 0;

			i:hover {
				color: $primary;
				animation: spin 1s linear 1;
			}
		}
	}

	.Results {
		display: flex;
		flex-flow: row wrap;
		flex-shrink: 1;
		justify-content: space-around;

		h2 {
			width: 100%;
		}

		// Results displayed as cards
		.Result-item {
			background-color: $white;
			border: 1px solid $primary;
			border-radius: 10px;
			box-shadow: 0 1px 1px $secondary;
			height: 17rem;
			margin: 1rem 0.5rem;
			padding: 1rem;
			text-align: center;
		  width: 17rem;

			&:hover {
				animation: bounce 0.25s 4 alternate;
				box-shadow: 0 3px 10px 6px #CCF3FF,
										0 3px 10px 6px #CCF3FF;
			}
		}

		.Result-item-heading {
			color: $primary;
			display: block;
			font-family: 'Quicksand';
			font-weight: 400;

			&:hover {
				color: $primary;
			}
		}

		.Result-item-subheading {
			display: block;
		}

		.Result-item-row {
			width: 50%;
		}

		// Results displayed as table
		.Result-table {
			background-color: $white;
			border: 1px solid $primary;
			border-radius: 1rem;
			box-shadow: 0 1px 1px $secondary;
			text-align: center;
			vertical-align: middle;

			.Result-row {
				&:hover {
					// animation: bounce 0.25s 4 alternate;
					border-radius: 0.5rem;
					box-shadow: 0 3px 10px 6px #CCF3FF,
											0 3px 10px 6px #CCF3FF;
				}
			}

			.Result-header,
			.Result-cell {
				padding: 0.5rem;
				width: 10rem;
			}
		}
	}

	.Navbar-items {
	  display: flex;
	  flex-flow: row wrap;
	  font-family: 'Quicksand';
	  justify-content: space-around;
		padding: 1.25rem 0.5rem;

		ul li {
		  display: inline-block;
			padding: 0 1rem;
		}

		a {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
		}
	}

	.Header .Navbar-items {
		justify-content: flex-end;
	}

	.Footer .Navbar-items {
		flex-flow: initial;
	}

	.Cloud {
		animation: 3s linear cloud infinite;
	}

	.Rain1 {
		animation: 8s linear rain1 infinite;
	}

	.Rain2 {
		animation: 8s linear rain2 infinite;
		animation-delay: 0.25s;
	}

	.Sun {
		animation: 9s linear sun infinite;
	}

	.Sun line {
		animation: 2s shine linear infinite;
	}

	// ANIMATION KEYFRAMES
	@keyframes pulse {
	  25% {color: $primary;}
		75% {color: $tertiary;}
	}

	@keyframes spin {
		100% {transform: rotate(360deg);}
	}

	@keyframes bounce {
	 from {transform: translateY(0px);}
	 to {transform: translateY(-15px);}
	}

	@keyframes cloud {
	  0% {transform: translate(0px,0px);}
	  50% {transform: translate(2px,0px);}
	  100% {transform: translate(0px,0px);}
	}

	@keyframes rain1 {
		0% {stroke-dashoffset: 0;}
  	100% {stroke-dashoffset: -100;}
  }

	@keyframes rain2 {
		0% {stroke-dashoffset: 0;}
  	100% {stroke-dashoffset: -100;}
  }

	@keyframes sun {
	  0% {transform: rotate(0deg);}
	  100% {transform: rotate(360deg);}
	}

	@keyframes shine {
	  0% {
	    stroke-dasharray: 3px 10px;
	    stroke-dashoffset: 0px;
	  }
	  50% {
	    stroke-dasharray: 0.1px 10px;
	    stroke-dashoffset: -1px;
	  }
	  100% {
	    stroke-dasharray: 3px 10px;
	    stroke-dashoffset: 0px;
	  }
	}
}





